In [318]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [319]:
df1=pd.read_csv("/kaggle/input/ipl-complete-dataset-20082020/matches.csv")
df1.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar

In [320]:
df=pd.read_csv("/kaggle/input/ipl-complete-dataset-20082020/deliveries.csv")
df.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN

In [321]:
Total_runs_df=df.groupby(["match_id",'inning']).sum()['total_runs'].reset_index()
Total_runs_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [322]:
Total_runs_df=Total_runs_df[Total_runs_df['inning']==1] #only taking second inning
Total_runs_df.head(3)

   match_id  inning  total_runs
0    335982       1         222
2    335983       1         240
4    335984       1         129

In [323]:
df1=df1.merge(Total_runs_df[["match_id","total_runs"]],left_on='id',right_on="match_id")

In [324]:
df1['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [325]:
teams = [
    "Chennai Super Kings",
    "Mumbai Indians",
    "Royal Challengers Bengaluru",
    "Kolkata Knight Riders",
    "Delhi Capitals",
    "Rajasthan Royals",
    "Sunrisers Hyderabad",
    "Punjab Kings",
    "Gujarat Titans",
    "Lucknow Super Giants"
]

In [326]:
df1['team1']=df1['team1'].str.replace('Delhi Daredevils',"Delhi Capitals")
df1['team2']=df1['team2'].str.replace('Delhi Daredevils',"Delhi Capitals")

df1['team1']=df1['team1'].str.replace('Royal Challengers Bangalore',"Royal Challengers Bengaluru")
df1['team2']=df1['team2'].str.replace('Royal Challengers Bangalore',"Royal Challengers Bengaluru")

df1['team1']=df1['team1'].str.replace('Kings XI Punjab',"Punjab Kings")
df1['team2']=df1['team2'].str.replace('Kings XI Punjab',"Punjab Kings")

df1['team1']=df1['team1'].str.replace('Deccan Chargers',"Sunrisers Hyderabad")
df1['team2']=df1['team2'].str.replace('Deccan Chargers',"Sunrisers Hyderabad")

In [327]:
df1=df1[df1["team1"].isin(teams)]
df1=df1[df1["team2"].isin(teams)]
df1.head(3)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129

In [328]:
df1=df1[["match_id","venue","winner","target_runs","team1","team2"]]

In [329]:
df=df1.merge(df,on="match_id")
df.head(3)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN

In [330]:
df=df[df["inning"]==2]
df.head(2)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN

In [331]:
df["total_runs"] = pd.to_numeric(df["total_runs"], errors="coerce")
df["cumm_runs"] = df.groupby("match_id")["total_runs"].cumsum()
# df

In [332]:
df["runs_left"]=df["target_runs"]-df["cumm_runs"]
df

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumm_runs,runs_left
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222.0
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,1,wides,0,NaN,NaN,NaN,2,221.0
126,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221.0
127,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220.0
128,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,114.0,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4.0
233897,1426312,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,114.0,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3.0
233898,1426312,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,114.0,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2.0
233899,1426312,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,114.0,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1.0
233900,1426312,"MA Chidambaram Stadium, Chepauk, Chennai",Kolkata Knight Riders,114.0,Sunrisers Hyderabad,Kolkata Knight Riders,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0.0

In [333]:
df["balls_left"]=120-df["over"]*6 - df["ball"]
df.head(5)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumm_runs,runs_left,balls_left
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,1,222.0,119
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,1,wides,0,NaN,NaN,NaN,2,221.0,118
126,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,0,NaN,0,NaN,NaN,NaN,2,221.0,117
127,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,3,220.0,116
128,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,1,NaN,0,NaN,NaN,NaN,4,219.0,115

In [334]:
df["player_dismissed"] = df["player_dismissed"].fillna(0)
df["player_dismissed"] = df["player_dismissed"].apply(lambda x: 0 if x == 0 else 1)
df["player_dismissed"] = df["player_dismissed"].astype(int)

# Calculate wickets cumulatively per match
wickets = df.groupby("match_id")["player_dismissed"].cumsum()

# Clip so it never exceeds 10
wickets = wickets.clip(upper=10)

# Wickets left = 10 - fallen wickets
df["wicket_left"] = 10 - wickets

df.head(1)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumm_runs,runs_left,balls_left,wicket_left
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,1,NaN,0,0,NaN,NaN,1,222.0,119,10

In [335]:
#crr
df["crr"]=df["cumm_runs"]*6/(120-df["balls_left"])
df.head(3)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,cumm_runs,runs_left,balls_left,wicket_left,crr
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,0,NaN,NaN,1,222.0,119,10,6.0
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,wides,0,0,NaN,NaN,2,221.0,118,10,6.0
126,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,NaN,0,0,NaN,NaN,2,221.0,117,10,4.0

In [336]:
df["rrr"]=df["runs_left"]*6/df["balls_left"]

In [337]:
def result(row):
    return 1 if row["batting_team"] == row["winner"] else 0

df["result"] = df.apply(result, axis=1)
df.head(2)

,match_id,venue,winner,target_runs,team1,team2,inning,batting_team,bowling_team,over,...,player_dismissed,dismissal_kind,fielder,cumm_runs,runs_left,balls_left,wicket_left,crr,rrr,result
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,1,222.0,119,10,6.0,11.193277,0
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,223.0,Royal Challengers Bengaluru,Kolkata Knight Riders,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,...,0,NaN,NaN,2,221.0,118,10,6.0,11.237288,0

In [338]:
final_df=df[["batting_team","bowling_team","venue","runs_left","balls_left","wicket_left","target_runs","crr","rrr","result"]]

In [339]:
final_df.head(3)

,batting_team,bowling_team,venue,runs_left,balls_left,wicket_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,222.0,119,10,223.0,6.0,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,221.0,118,10,223.0,6.0,11.237288,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,221.0,117,10,223.0,4.0,11.333333,0

In [340]:
final_df.sample(final_df.shape[0]).head(1)

,batting_team,bowling_team,venue,runs_left,balls_left,wicket_left,target_runs,crr,rrr,result
214053,Mumbai Indians,Lucknow Super Giants,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,78.0,57,9,178.0,9.52381,8.210526,0

In [341]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
venue            0
runs_left        0
balls_left       0
wicket_left      0
target_runs      0
crr              0
rrr             16
result           0
dtype: int64

In [342]:
final_df.dropna(inplace=True)
final_df.isnull().sum()

/tmp/ipykernel_36/2274796568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

batting_team    0
bowling_team    0
venue           0
runs_left       0
balls_left      0
wicket_left     0
target_runs     0
crr             0
rrr             0
result          0
dtype: int64

In [343]:
x= final_df.iloc[:,:-1]
y= final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [344]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop="first"),["batting_team","bowling_team","venue"])
]
,remainder="passthrough")

In [345]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier


pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver="liblinear"))
])

In [346]:
x_train = x_train.replace([np.inf, -np.inf], np.nan)

# Fill NaN with 0 (or you can use mean/median depending on your case)
x_train = x_train.fillna(0)

# Do the same for x_test to avoid mismatch
x_test = x_test.replace([np.inf, -np.inf], np.nan).fillna(0)

In [347]:
pipe.fit(x_train,y_train)

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [348]:
y_pred=pipe.predict(x_test)

In [349]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8082276797588439

In [350]:
import joblib

# Save the trained pipeline
joblib.dump(pipe, "my_model.pkl")

# Later (for loading)
# pipe = joblib.load("my_model.pkl")

['my_model.pkl']